<div class="container-fluid" style="padding: 30px 0 0 0">
    <div class="container">
        <a [routerLink]="['/panel/medicos']"><i class="fas fa-arrow-alt-circle-left fa-3x fondoAzul" ></i></a>
        <span class="text-center" *ngIf="this.idRute"><h2>Actualizar Medico</h2></span>
        <span class="text-center" *ngIf="!this.idRute"><h2>Agregar Medico</h2></span>
        <div class="row justify-content-center">
            <form [formGroup]="formGroup" (ngSubmit)="this.idRute?onSubmitId():onSubmit()" class="col-sm-10">
                <h4 class="text-center subTitle py-1 mt-5 mb-3">Datos Basicos
                    <span class="iconTitle pointer" *ngIf="datosBasicos" (click)="hideForm($event)"><i class="fas fa-caret-down fa-lg" title="datosBasicos" ></i></span>
                    <span class="iconTitle pointer" *ngIf="!datosBasicos" (click)="hideForm($event)"><i class="fas fa-caret-up fa-lg" title="datosBasicos" ></i></span>
                </h4>
                <div class="form-row" formGroupName="medicos" *ngIf="datosBasicos">
                    <!-- <div class="form-group col-md-12 mt-5">
                        <h4 class="text-center subTitle py-1 mb-0">Datos Basicos</h4>
                    </div> -->
                    <div class="form-group col-md-6 ">
                        <label>Nombres</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="nombres" placeholder="Nombres">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Apellidos</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Email</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Celular</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="celular" placeholder="Celular">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo Documento</label>
                        <select formControlName="tipo_doc" title='tipoDoc' class="form-control rounded border border-secondary" (change)="getSelected($event)">
                          <option *ngFor="let item of documentos">{{ item.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Nº Documento</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="numero_doc" placeholder="Nº Documento">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Nº Cuit</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="cuit" placeholder="Nº Cuit">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>Matricula</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="matricula" placeholder="Matricula">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Género</label>
                        <select formControlName="genero" title='genero' class="form-control rounded border border-secondary" (change)="getSelected($event)">
                          <option *ngFor="let item of generos">{{ item.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Jerarquía</label>
                        <select formControlName="jerarquia" title='jerarquia' class="form-control rounded border border-secondary" (change)="getSelected($event)">
                          <option *ngFor="let item of jerarquias">{{ item.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label>Vencimiento de Acuerdo</label>
                        <input type="date" class="form-control rounded border border-secondary " formControlName="vto_acuerdo" placeholder="Fecha vencimiento">
                    </div>
                    <hr>
                </div>

                <div class="row justify-content-between px-3">
                    <button type="submit" class="btn btn-success rounded btnAzul mt-3" *ngIf="this.idRute">Actualizar</button>
                    <button type="submit" class="btn btn-success rounded btnAzul mt-3" *ngIf="!this.idRute">Agregar</button>
                    <button (click)="delData()" class="btn btn-danger rounded mt-3" *ngIf="this.idRute">Eliminar</button>
                </div>
            </form>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="alert alert-danger col-sm-10" role="alert" *ngIf="this.errors">
                {{this.errors}}
            </div>
            <div class="alert alert-danger col-sm-10" role="alert" *ngIf="this.delete">
                Eliminado con éxito!
            </div>
            <div class="alert alert-success col-sm-10" role="alert" *ngIf="this.edit">
                Actualizado con éxito!
            </div>
            <div class="alert alert-success col-sm-10" role="alert" *ngIf="this.add">
                Agregado con éxito!
            </div>
        </div>
    </div>
</div>