<table class="table col-12" *ngIf="this.final">
    <thead>
        <tr>
            <td scope="col">Especialidad</td>
            <td scope="col">Dias</td>
            <td scope="col">Horarios</td>
        </tr>
    </thead>
    <tbody *ngFor="let item of final; let i = index">
        <tr class="pointer">
            <th scope="row">{{ item.Especialidad }}</th>
            <td scope="row">{{ item.Dias }}</td>
            <td scope="row">{{ item.Horarios }}</td>
        </tr>
    </tbody>
</table>

<form [formGroup]="formGroup" (ngSubmit)="this.idRute?onSubmitId():onSubmit()">
    <!-- corregir idRute -->
    <div class="form-row" formGroupName="medEspecialidad">
        <div class="form-group col-md-3">
            <label>Especialidad</label>
            <select formControlName="especialidad" title='especialidad' class="form-control rounded border border-secondary" (change)="getSelectedEspecialidad($event)">
                <option hidden [value]="" selected>Seleccionar especialidad</option>
                <option [attr.value]="item.id_especialidad" *ngFor="let item of especialidades">{{ item.nombre }}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label>Día</label>
            <mat-form-field class="col-12 px-0" appearance="outline">
                <mat-select formControlName="dia" multiple placeholder="Dia" (openedChange)="comboChange($event)">
                    <mat-option *ngFor="let dia of dias" [value]="dia.nombre">{{dia.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group col-md-2">
            <label>T. Mañana</label>
            <select formControlName="mañana" title='mañana' class="form-control rounded border border-secondary" (change)="getSelectedHorario($event)">
                <ng-container *ngFor="let item of horarios">
                    <option hidden [value]="" selected>Seleccionar horario</option>
                    <option *ngIf="item.turno === 'm'" [attr.value]="item.horario">{{ item.inicio }} / {{ item.fin }}</option>
                </ng-container>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label>T. Tarde</label>
            <select formControlName="tarde" title='tarde' class="form-control rounded border border-secondary" (change)="getSelectedHorario($event)">
                <ng-container *ngFor="let item of horarios">
                    <option hidden [value]="" selected>Seleccionar horario</option>
                    <option *ngIf="item.turno === 't'" [attr.value]="item.horario">{{ item.inicio }} / {{ item.fin }}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group col-md-12">
            <div class="row justify-content-between px-3">
                <button type="submit" class="btn rounded btnAzule my-1" *ngIf="this.idRute">Actualizar Especialidad</button>
                <button type="submit" class="btn rounded btnAzule my-2" *ngIf="!this.idRute">Agregar Especialidad</button>
                <button (click)="deleteMedEspecialidad()" class="btn btn-danger rounded mt-2" *ngIf="this.idRute">Eliminar Especialidad</button>
            </div>
        </div>
        <div class="row col-12 justify-content-center m-0 p-0">
            <div class="alert alert-danger col-sm-10" role="alert" *ngIf="this.errors">
                {{this.errors}}
            </div>
            <div class="alert alert-danger col-sm-10" role="alert" *ngIf="this.delete">
                Eliminado con éxito!
            </div>
            <div class="alert alert-success col-sm-10" role="alert" *ngIf="this.edit">
                Actualizado con éxito!
            </div>
            <div class="alert alert-success col-sm-10" role="alert" *ngIf="this.add">
                Agregado con éxito!
            </div>
        </div>
    </div>
</form>