<div class="container-fluid">

    <div class="container col-10">
        <div class="row justify-content-center pt-3">
            <div class="row justify-content-between col-12 col-md-10 col-xl-8 my-2 px-0 py-2">
                <button class="btn btn-sm fondoAzul col-sm-12 col-md-6 my-2" (click)="addMedico()"><i class="far fa-address-card"></i>  Agregar Medico</button>
                <input class="col-sm-12 col-md-5 col-lg-4 my-2" type="text" placeholder="Buscar medico" #buscarTexto>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table col-12 col-md-10 col-xl-8">
                <thead>
                    <tr>
                        <td scope="col">Medico</td>
                        <td scope="col">Ultima Modificación</td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of medicos; let i = index">
                    <tr class="pointer" [routerLink]="['/panel/medico', item.id_medico]">
                        <td scope="row">{{ item.nombres }} {{ item.apellido }}</td>
                        <td scope="row">{{ item.creado_en | date : 'dd/MM/yy, HH:mm' : '-600' : 'es-AR' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>