<div class="container-fluid">
    <div class="container col-10">
        <div class="row justify-content-center pt-3">
            <div class="row justify-content-between col-md-8 my-2 px-0 py-2">
                <button class="btn btn-sm fondoAzul col-sm-12 col-md-6 my-2" (click)="addArea()"><i class="far fa-address-card"></i>  Agregar Domicilio</button>
                <input class="col-sm-12 col-md-5 col-lg-4 my-2" type="text" placeholder="Buscar Domicilio" (keyup.enter)="buscarDomicilios(buscarTexto.value)" #buscarTexto>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table col-12 col-md-8">
                <thead>
                    <tr>
                        <td scope="col">Calle</td>
                        <td scope="col">Nº</td>
                        <td scope="col">Piso</td>
                        <td scope="col">Dpto</td>
                        <td scope="col">C.P.</td>
                        <td scope="col">Teléfono</td>
                        <td scope="col">Pais</td>
                        <td scope="col">Provincia</td>
                        <td scope="col">Localidad</td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of data; let i = index">
                    <tr class="pointer" [routerLink]="['/panel/domicilio', item.id_dom]">
                        <!-- <tr (click)="getInputValue()"> -->
                        <td scope="row">{{ item.calle }}</td>
                        <td scope="row">{{ item.numero }}</td>
                        <td scope="row">{{ item.piso }}</td>
                        <td scope="row">{{ item.dpto }}</td>
                        <td scope="row">{{ item.cod_postal?item.cod_postal:'-' }}</td>
                        <td scope="row">{{ item.telefono }}</td>
                        <!-- <td scope="row">{{ item.latitud }}</td>
                        <td scope="row">{{ item.longitud }}</td> -->
                        <td scope="row">{{ item.pais }}</td>
                        <td scope="row">{{ item.provincia }}</td>
                        <td scope="row">{{ item.localidad }}</td>
                        <!-- <td scope="row">{{ item.id_user }}</td>
                        <td scope="row">{{ item.creado_en | date : 'dd MMMM yyyy, HH:mm' : '-600' : 'es-AR' }}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>