<div class="container-fluid mx-5">

    <div class="container col-10">
        <div class="row justify-content-center pt-3">
            <div class="row justify-content-between col-12 col-md-8 my-2 px-0 py-2">
                <button class="btn btn-sm fondoAzul col-sm-12 col-md-6 my-2" (click)="addArea()"><i class="far fa-address-card"></i>  Agregar Area</button>
                <input class="col-sm-12 col-md-5 col-lg-4 my-2" type="text" placeholder="Buscar area" (keyup.enter)="buscarAreas(buscarTexto.value)" #buscarTexto>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table col-12 col-md-8">
                <thead>
                    <tr>
                        <td scope="col">Area</td>
                        <td scope="col">Ultima Modificación</td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of areas; let i = index">
                    <tr class="pointer" [routerLink]="['/panel/areas', item.id_area]">
                        <!-- <tr (click)="getInputValue()"> -->
                        <td scope="row">{{ item.nombre }}</td>
                        <td scope="row">{{ item.creado_en | date : 'dd MMMM yyyy, HH:mm' : '-600' : 'es-AR' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>